<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ title }}</title>

  <!-- CSS  -->
  {{ codemirror.include_codemirror() }}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">{{ title }}</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Analyze</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/modules">Modules</a></li>
      </ul>
    </div>
  </nav>
  <div class="progress red lighten-4">
    <div class="indeterminate red"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col l12 s12">
          <div class="col s12">
            <ul class="collection with-header profiles">
              <li class="collection-header">
                <div class="col s6 right profile valign-wrapper">
                  <div class="col s4 center">Profile name:</div>
                  <div class="col s6"><input class="" name="name" id="name" type="text"></div>
                  <a href="#!" class="add btn right"><i class="material-icons">add</i></a>
                </div>
                <h5>Analysis Profiles</h5>
              </li>
              {% for profile in profiles %}
              <li class="collection-item" id="{{profile}}">
                <div>{{profile}}
                  <a href="#!" id="{{profile}}" class="secondary-content delete-confirm"><i class="material-icons">delete</i></a>
                  <a href="/profile?name={{profile}}" class="secondary-content" style="margin-right:15px;"><i class="material-icons">mode_edit</i></a>
                </div>
              </li>
              {% endfor %}
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-delete">
  <div id="md1" class="modal">
    <input type="hidden" id="filename" value="">
    <div class="modal-content">
      <h4>Please Confirm</h4>
      <p>Are you sure to proceed?</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md1').closeModal(); return false;">Cancel</a>
      <a href="#" class="waves-effect delete waves-green btn-flat" id="md1_YesBtn">Yes</a>
    </div>
  </div>
</div>

<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">What is this?</h5>
        <p class="grey-text text-lighten-4">{{description}}</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      This is a Final Year Project done by <a class="blue-text text-lighten-3" href="//quanyang.github.io">Yeo Quan Yang</a>.
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="static/js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>

</body>
</html>